.post {
    position: relative;
    width: 90%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}

.allPostsContainer {
    height: 100%;
    width: 100%;

}

/* -------------------- MODALS CSS STARTS HERE -------------------- */

.modal
{
  display : none ;
  position : fixed ;
  z-index : 1 ; 
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ;
  background-color : rgb(0,0,0) ;
  background-color : rgba(0,0,0,0.6) ;
}

.modalContainer
{
   position : fixed ; 
   left : 40% ;
   top : 10% ;
   overflow : auto ; 
   background-color : white ; 
}

#sign_in_modal.modalContainer
{
  width : 400px ;
  height : 450px ;
  padding : 0px 20px ;
  top : 10% ;
  left : 35% ;
}

#sign_up_modal.modalContainer
{
  width :  350px ;
  height : 550px ;
  padding : 0px 20px ;
}

form 
{
  display : flex ;
  flex-direction : column ;
}

.label-text
{
  font-weight : bold ;
  margin-top : 15px ;
  font-size : 17px;
  color : black;  
}

input[type=text] , input[type=password]
{
  padding : 10px;
  margin : 10px 0px;
  border : none;
  background-color : lightgrey;
}
 
button
{
  padding : 15px;
  margin : 15px 0px;
  cursor : pointer; 
  background-color : SeaGreen;
  color : white;
  font-size : 15px;
  border : none;
}

button:hover
{
  opacity: 0.8;
}

.sign_in_footer
{
  float : bottom;
  font-size : 17px;
  text-align : center;
  color : black; 
}

.close
{
  font-size : 30px;
  font-weight : bolder;
  color : grey;
  float : right;
}

.close:hover
{
  color : black ;
  cursor : pointer ;
}

/* -------------------- MODALS CSS ENDS HERE -------------------- */
