
/* -------------------- HEADER STYLING STARTS HERE -------------------- */

.topButtons 
{
    color : white ;
    background-color : blue ;
    padding : 10px ;
    margin : 5px 5px 10px 5px ;
    float : right ;
}

.logo-title
{
    font-family : 'Satisfy' , cursive ; 
    color : MediumBlue ;
    padding-top : 20px ; 
    font-size : 45px ; 
    text-decoration : none ;
    margin : 10px 10px 0px 10px ;
}

.middleText
{
    font-family : 'Marck Script' , cursive ;
    color : black ;
    font-size : 18px ;
    text-decoration : none ;
    margin : 2px 10px 0px 10px ;
}                                 

.header
{
	margin : 5px ;
 	padding : 5px ;
}

#button_sign_up
{
 	margin-right : 15px ;
}

/* -------------------- HEADER STYLING ENDS HERE -------------------- */
