
/* -------------------- PRE (GIVEN) STYLING STARTS HERE -------------------- */

body
{
  background : url('background.jpg') ;
  background-repeat : no-repeat ;
  background-attachment : fixed ;
  background-position : center center ;
  background-size : cover ;
  margin : 0 !important ;
  background-size : 100% cover !important ;
  overflow : hidden ;
  display : block ;
} 

/* -------------------- PRE (GIVEN) STYLING ENDS HERE -------------------- */


/* -------------------- CENTER BUTTONS CSS STARTS HERE -------------------- */

.postButtons
{
  display : flex ;
  flex-direction : row ;
  align-items : center ;
  justify-content : center ;
  padding : 10px ;
  margin : 10px ; 
  height : 630px ;
}

#button_all_posts
{
  padding : 10px ;
  margin : 10px ;
  background-color : #CCCC00 ;
  font-weight : bold ;
  font-size : 17px ;
}

#button_create_post
{
  padding : 10px ;
  margin : 10px ;
  background-color : #CCCC00 ;
  font-weight : bold ;
  font-size : 17px ;
}

#main-container-div
{
    display : block ;
}

/* -------------------- CENTER BUTTONS CSS ENDS HERE -------------------- */








