
/* -------------------- PRE (GIVEN) STYLING STARTS HERE -------------------- */

body
{
  background : url('background.jpg') ;
  background-repeat : no-repeat ;
  background-attachment : fixed ;
  background-position : center center ;
  background-size : cover ;
  margin : 0 !important ;
  background-size : 100% cover !important ;
  overflow : hidden ;
  display : block ;
} 

/* -------------------- PRE (GIVEN) STYLING ENDS HERE -------------------- */


/* -------------------- CENTER BUTTONS CSS STARTS HERE -------------------- */

.postButtons
{
  display : flex ;
  flex-direction : row ;
  align-items : center ;
  justify-content : center ;
  padding : 10px ;
  margin : 10px ; 
  height : 630px ;
}

#button_all_posts
{
  padding : 10px ;
  margin : 10px ;
  background-color : #CCCC00 ;
  font-weight : bold ;
  font-size : 17px ;
}

#button_create_post
{
  padding : 10px ;
  margin : 10px ;
  background-color : #CCCC00 ;
  font-weight : bold ;
  font-size : 17px ;
}

#main-container-div
{
    display : block ;
}

/* -------------------- CENTER BUTTONS CSS ENDS HERE -------------------- */


/* -------------------- MODALS CSS STARTS HERE -------------------- */

.modal
{
  display : none ;
  position : fixed ;
  background-color : rgb(0,0,0) ;
  background-color : rgba(0,0,0,0.5) ;
  z-index : 1 ; 
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ; 
  overflow : auto ;
}

.modalContainer
{
   position : fixed ; 
   top : 10% ;
   left : 40% ;
   overflow : auto ; 
   background-color : white ; 
}

#sign_in_modal.modalContainer
{
  top : 10% ;
  left : 35% ;
  padding : 0px 20px ;
  width : 400px ;
  height : 450px ;
}

#sign_up_modal.modalContainer
{
  width :  350px ;
  height : 600px ;
  padding : 0px 20px ;
}

#create_post_modal.modalContainer
{
  width : 55% ;
  height : 74% ;
  padding: 20px ;
  left : 25% ;
  top : 12% ;
  margin-top : 10px ;
}

form 
{
  display : flex ;
  flex-direction : column ;
}

.label-text
{
  font-weight : bold ;
  margin-top : 20px ;
  margin-right : 5px ;
  margin-bottom : 2px ;
  margin-left : 0px;   
  font-size : 20px ;  
}

h1#id_1,
h1#id_2,
h1#id_3
{
  text-align : center ;  
}

input#sign_in_username,
input#sign_in_password,
input#sign_up_full_name,
input#sign_up_username,
input#sign_up_password,
input#sign_up_confirm_password,
input#create_post_title
{
  margin : 5px 0px ;
  padding : 10px ;
  background-color : #c0c0c08f ;
  border : none ;
} 

/*input#create_post_title 
{
  margin-right : 50% ;
}
*/

button
{
  padding : 15px ;
  margin-top : 35px;
  margin-right : 0px ;
  margin-left : 0px ;
  margin-bottom : 15px ; 
  cursor : pointer ; 
  background-color : ForestGreen ;
  color : white ;
  font-size : 15px ;
  border : none ;
}

.sign_in_footer
{
  font-size : 18px ;
  text-align : center ;
}

.close
{
  font-size : 30px;
  font-weight : bold;
  color : grey ;
  float : right ;
}

.close:hover
{
  font-size : 31px ;
  font-weight : bolder ;
  color : black ;
  cursor : pointer ;
}

/* -------------------- MODALS CSS ENDS HERE -------------------- */






