
/* -------------------- PRE (GIVEN) STYLING STARTS HERE -------------------- */

.blogTite 
{
  font-size : 150% ;
  font-family : 'Abel' , sans-serif ;
  font-weight : bold ;
  text-align : center ;
}

.blogText
{
  font-family : 'Gill Sans' , 'Gill Sans MT' , Calibri , 'Trebuchet MS' , sans-serif ;
  text-align : justify ;
  font-size : medium ;
  font-weight : 530 ;
}

.blogAuthor
{
  padding : 0px 0px 0px 10px ;
  font-family : 'Niconne' , cursive ;
  font-size : 30px ;
}

.blogContent
{
	margin : 15px 50px 15px 50px ;
}

/* -------------------- PRE (GIVEN) STYLING ENDS HERE -------------------- */


/* -------------------- LIKE / EDIT / COMMENT CSS STARTS HERE -------------------- */

.edit_save_button 
{
  float : right ;
  padding : 10px 15px 10px 15px ;
  background-color : #ff2e5e ;
  color : white ;
  border : none ;
}

#button_save
{
  display : none ;   
}

#likes_button
{
  width : 100px ;
  background-color : #ff2e5e ;
}

#comments_textarea
{
  width : 70% ;
  height : 80px ;
  margin-top : 15px ;
  padding : 5px ; 
  font-size : 18px ;
}

#adding_comments
{
  background-color : rgb(226, 228, 230) ;
  padding : 10px ;
  width : 59% ;
  display : flex ;
  flex-direction : column-reverse ;
}

#comment
{
    background-color : white ;
    width : auto ;
    height : auto ;  
    padding : 10px ;
    margin : 10px ; 
}

.addLikecomments
{
    margin : 5px 0px 10px 0px ;
    padding : 10px 15px 10px 15px ;
    background-color : #ff2e5e ;
    color : white ;
    border : none ;
}

#all_comments
{
  background-color : silver ;
  width : 100% ;
  height : auto ; 
  border : 1px silver solid ; 
}

/* -------------------- LIKE / EDIT / COMMENT CSS ENDS HERE -------------------- */
